

{% extends "base.html" %}
{% block content %}
{% extends "loginforms.html" %}
{% block content %}
</div>
  <div id="loginPictureCover"></div>
    <form method="post" action='/signupuser/' class="loginForm" >
        {% csrf_token %}
        <div class="loginFormContainer">
      <!--<label>username </label> -->
        
          <input onfocusout="unSmile()" onfocus="smile()" placeholder="username" name="username">
        </div>
        <br>
        <div class="loginFormContainer">
      <!-- <label>password </label> -->
          <input type="password" placeholder="password" name="password">
        </div>
        <div class="loginFormContainer">
          <input type="submit" name="" id="login">
        </div>
        
      </form>
  
{% endblock %}  
{% endblock %}